body {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(270deg, #11141c, #010a26);

  font-family: 'Chakra Petch', sans-serif;
  color: white;
}



h1 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  color: #BBBBBB;
  margin-top: 0;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  font-weight: 600;
}


.digit-block {
  padding: 7px;
  background-color: #2c4f6e;
  outline: 0.1px solid #BBBBBB;
}

.green-tab {
  border-left: 7px solid #42ad4d;
}
.red-tab {
  border-left: 7px solid #ad4242;
}

.news-block {
  padding: 7px;
  background-color: #2c4f6e;
  border-left: 7px solid #386aa6;
  outline: 0.1px solid #BBBBBB;
}



.tile-sidebar {
  background: linear-gradient(270deg, #363636, #1f1f1f);
  
  background-size: 400% 400%;
  -webkit-animation: GradientBgAnimation 8s ease infinite;
  animation: GradientBgAnimation 8s ease infinite;
  
  height: 100%;
  display: block;
  opacity: 0.7;
}


.tile-header {
  background: linear-gradient(270deg, #363636, #1f1f1f);

  background-size: 400% 400%;
  -webkit-animation: GradientBgAnimation 8s ease infinite;
  animation: GradientBgAnimation 8s ease infinite;
  
  opacity: 0.7;
}

.tile-background {
  background: linear-gradient(90deg, rgb(10, 36, 63) 0%, rgb(14, 53, 80) 100%);

  background-size: 400% 400%;
  -webkit-animation: GradientBgAnimation 8s ease infinite;
  animation: GradientBgAnimation 8s ease infinite;

  opacity: 0.7;
}

@-webkit-keyframes GradientBgAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientBgAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}