@import "bootstrap.css";

/* Overrides the pill control to allow for colour customisation */
.nav-pills .nav-link {
    color: #FFFFFF !important;
}
.nav-pills .nav-link.active {
    background-color: #25B9BA !important;
}

.height-100vh {
    height: 100vh;
}

.space-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}